/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.htaccess
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
stripe
/public/laravel.log
public/laravel.log
storage/framework/.gitignore
storage/framework/cache/facade-1e06026dbe325cba543b2306bd7e55d66d31e4c1.php
storage/framework/sessions/.gitignore
storage/framework/testing/.gitignore
storage/framework/views/.gitignore
/test-results/
/e2e/super-admin/test-results/
/e2e/business/html-report/

e2e/super-admin/test-results/.last-run.json
e2e/super-admin/test-results/.last-run.json
e2e/super-admin/test-results/junit.xml
e2e/super-admin/test-results/results.json
public/images/200x200.png
/artifacts
/codereview
stripe.exe
